/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @theme {
  --color-primary: #fff4f1;
  --color-solid: #ff0033;
  --color-solidOne: bisque;
  --color-solidTwo: #fff4f2;
  --color-tertiary: #ffdaad;
  --color-textColor: #ffc885;
  --color-gray-50: #404040;
} */

@layer base {
  html, body {
    /* scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-primary); */
   @apply scroll-smooth font-outfit bg-primary;
  }
}
@layer utilities{
  .hide-scrollbar::-webkit-scrollbar{
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@layer components{
  .max-padd-container{
    @apply mx-auto max-w-[1440px] px-4 lg:px-12;
  }

  .flexCenter{
    @apply flex justify-center items-center;
  }

  .flexBetween{
    @apply flex justify-between items-center;
  }

  .flexStart{
    @apply flex justify-start items-center;
  }

  .flexEnd{
    @apply flex justify-end items-center;
  }
  
  .btn-solid{
    @apply px-6 py-3 active:scale-95 transition bg-solid border-gray-500/20 text-black text-sm font-medium rounded-full cursor-pointer;
  }

  .btn-light{
    @apply px-6 py-3 active:scale-95 transition bg-textColor border border-gray-500/20 text-black text-sm font-medium rounded-full cursor-pointer;
  }

  .btn-outline{
    @apply px-6 py-3 active:scale-95 transition border border-gray-50 text-black text-sm font-medium rounded-full cursor-pointer;
  }

  .btn-white{
    @apply px-6 py-3 active:scale-95 transition bg-white text-black text-sm font-medium rounded-full cursor-pointer;
  }
  
}

@layer utilities{
  .active-link{
    @apply relative after:w-2/5 after:h-1 after:rounded-full after:bg-solid after:absolute after:-bottom-0.5 after:right-3;
  }

  h1{
    @apply text-[41px] md:text-[61px] font-bold;
  }

  h2{
    @apply text-[31px] md:text-[38px] font-bold;
  }

  h3{
    @apply text-[24px] md:text-[31px] font-bold;
  }  

  h4{
    @apply text-[17px] md:text-[19px] font-bold;
  }

  h5{
    @apply text-[14px] md:text-[16px] font-bold;
  }

  p{
    @apply leading-[1.3] text-[14px] text-gray-50;
  }

}
/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;;
}
body{
  min-height: 100vh;
}
a{
    text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
} */